@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Message</h1>

<div class="row">
    <div class="col-md-12">
        <h2>What do we do?</h2>
        <p>
            We provide Easy and cheap flight booking options to cater to your needs.
        </p>
    </div>
    <div class="col-md-12">
        <h2>How to use?</h2>
        <p>1. Serach for the most suitable flight according to your flying options, budget, dates and time.</p>
        <p>2. Pick your option </p>
        <p>3. Book and pay </p>
        <p>3. Enjoy the flight and vacay </p>
    </div>
</div>
